<%if @name %>
<h1>Hi there <%= @name %></h1>
<h3>Your birthday is on <%= Date::MONTHNAMES[@month.to_i] %> 
<%= @day %><% if [1,21,31].include?(@day.to_i) %>st<% elsif [2,22].include?(@day.to_i) %>nd<% elsif [3,23].include?(@day.to_i) %>rd<% else %>th
<% end %>
</h3>
<h3>Today date is <%= Date.today.strftime("%B %e") %></h3>
<% @days_diff = (Date.parse(@month + "/" + @day).mjd - Date.today.mjd) %>
<% if @days_diff == 0 %>
  <h3>Yippee!! It's your birthday!</h3>
  <iframe src="https://giphy.com/embed/26u4lwog9FVOxUGiI" width="480" height="320" 
  frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<% elsif @days_diff == 1 %>
  <h3>There is 1 day to go until your next birthday. Exciting!</h3>
<% elsif @days_diff > 0 %>
  <h3>There are <%= @days_diff %>
  days to go until your next birthday.</h3>
<% else %>
  <h3>There are <%= Date.parse(@month + "/" + @day).next_year.mjd - Date.today.mjd %>
  days to go until your next birthday.</h3>
<% end %>

<% else %>
  <form action = "/birthday" method = "post">
    Enter name: <input type = "text" name="name" value="" /><br><br>
    <b>When is your birthday?</b><br><br>
    Enter day (1 - 31): <input type="number" name="day" min="1" max="31" value="1" /><br><br>
    Enter month (1 - 12): <input type="number" name="month" min="1" max="12" value="1" /><br><br>
    <input type="submit" value="Submit">
  </form>
<% end %>
